{{#components}}
export {{#tsType.isObject}}interface{{/tsType.isObject}}  {{#tsType.isEnum}}enum{{/tsType.isEnum}} {{name}} {
    {{#tsType.properties}}
    {{#isArray}}
    {{name}}: {{#elementType.target}}{{elementType.target}}{{/elementType.target}}{{^elementType.target}}{{elementType.tsType}}{{/elementType.target}}[];
    {{/isArray}}
    {{#isEnum}}
    {{name}}: {{target}};
    {{/isEnum}}
    {{#isAtomic}}
    {{name}}{{#nullable}}?{{/nullable}}: {{tsType}};
    {{/isAtomic}}
    {{#isObject}}
    {{name}}{{#nullable}}?{{/nullable}}: {{target}};
    {{/isObject}}
    {{#isRef}}
    {{name}}{{#nullable}}?{{/nullable}}: {{target}};
    {{/isRef}}
    {{/tsType.properties}}
}
{{/components}}